[submodule "1-grading-tests"]
	path = 1-grading-tests
	url = git@github.com:spbu-coding-2025/1-grading-tests.git
[submodule "1-AnastasiyaMedentseva"]
	path = 1-AnastasiyaMedentseva
	url = https://github.com/spbu-coding-2025/1-AnastasiyaMedentseva.git
[submodule "1-AndyBarnv"]
	path = 1-AndyBarnv
	url = https://github.com/spbu-coding-2025/1-AndyBarnv.git
[submodule "1-Brulevich-Nikita"]
	path = 1-Brulevich-Nikita
	url = https://github.com/spbu-coding-2025/1-Brulevich-Nikita.git
[submodule "1-DenisPotapov0"]
	path = 1-DenisPotapov0
	url = https://github.com/spbu-coding-2025/1-DenisPotapov0.git
[submodule "1-GRIGAeo"]
	path = 1-GRIGAeo
	url = https://github.com/spbu-coding-2025/1-GRIGAeo.git
[submodule "1-Ganesha1967"]
	path = 1-Ganesha1967
	url = https://github.com/spbu-coding-2025/1-Ganesha1967.git
[submodule "1-Iseyne"]
	path = 1-Iseyne
	url = https://github.com/spbu-coding-2025/1-Iseyne.git
[submodule "1-Leon192"]
	path = 1-Leon192
	url = https://github.com/spbu-coding-2025/1-Leon192.git
[submodule "1-Redkin-Aleksey"]
	path = 1-Redkin-Aleksey
	url = https://github.com/spbu-coding-2025/1-Redkin-Aleksey.git
[submodule "1-RomanKazz"]
	path = 1-RomanKazz
	url = https://github.com/spbu-coding-2025/1-RomanKazz.git
[submodule "1-TemaLec"]
	path = 1-TemaLec
	url = https://github.com/spbu-coding-2025/1-TemaLec.git
