[submodule "1-grading-tests"]
	path = 1-grading-tests
	url = git@github.com:spbu-coding-2025/1-grading-tests.git
[submodule "1-AnastasiyaMedentseva"]
	path = 1-AnastasiyaMedentseva
	url = https://github.com/spbu-coding-2025/1-AnastasiyaMedentseva.git
[submodule "1-AndyBarnv"]
	path = 1-AndyBarnv
	url = https://github.com/spbu-coding-2025/1-AndyBarnv.git
