[submodule "1-grading-tests"]
	path = 1-grading-tests
	url = git@github.com:spbu-coding-2025/1-grading-tests.git
[submodule "1-AnastasiyaMedentseva"]
	path = 1-AnastasiyaMedentseva
	url = https://github.com/spbu-coding-2025/1-AnastasiyaMedentseva.git
[submodule "1-AndyBarnv"]
	path = 1-AndyBarnv
	url = https://github.com/spbu-coding-2025/1-AndyBarnv.git
[submodule "1-Brulevich-Nikita"]
	path = 1-Brulevich-Nikita
	url = https://github.com/spbu-coding-2025/1-Brulevich-Nikita.git
[submodule "1-DenisPotapov0"]
	path = 1-DenisPotapov0
	url = https://github.com/spbu-coding-2025/1-DenisPotapov0.git
[submodule "1-GRIGAeo"]
	path = 1-GRIGAeo
	url = https://github.com/spbu-coding-2025/1-GRIGAeo.git
